<h1>Seja Bem-vindo!</h1>
<p> O idioma usado nessa aplicação é: <%=t('actual_locale')%></p>
<p> <strong> Data: <%= l(Date.today)%> </strong> </p>
<p><%= t('abc')%></p>

<%= render'menu'%>

<p>
    Olá, este sistema foi desenvolvido por <strong> <%= @nome%></strong>
</p>